node_modules/
package-lock.json
.gd/
Quizbowl/

O/
S*/
old*/
tournaments/

bundles/
*packets/
bundles*.zip
*packets.zip
.DS_Store
experiments/
test/

*.xsl
*.xml
*.pyc
_*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
