/* RUBY */

ruby {
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: #bef;
}
.bracket-instruction,
rt,
rp {
	font-family: 'Novel SansCond Pro', sans-serif;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	color: #58c;
}

/* ruby */
.pg-ruby ruby {
	ruby-align: space-around;
	ruby-overhang: auto; /* not supported */
}
.pg-ruby rt {
	font-size: 80%;
}
main.pg-ruby {
	line-height: 1.75;
}

/* inline */
.pg-inline rb {
	padding-right: 0.15em;
}
.bracket-instruction,
.pg-inline rt,
.pg-inline rp {
	font-size: 90%;
	display: inline;
}

/* hover */
.pg-hover ruby {
	position: relative;
	display: inline-flex;
	flex-direction: column-reverse;
}
.pg-hover ruby rt,
.pg-hover ruby rp {
	display: none;
}
.pg-hover ruby rt {
	display: inline;
	position: absolute;
	top: -2em;
	left: 0;
	background: white;
	border: 1px solid black;
	border-radius: 2px;
	padding: 4px;
}

.pg-1 ruby {
	border-width: 2px;
	display: inline-block;
	line-height: 1;
}
.pg-1 rb {
	margin: 0 0.25em;
}
.pg-1 rt {
	background: #bef;
	display: inline-block;
	line-height: 1;
	font-size: 90%;
	padding: 0.25em 0.35em;
	color: #269;
}

.pg-3 ruby {
	display: inline-block;
	line-height: 1;
	position: relative;
	cursor: help;
}
.pg-3 rb {
	margin: 0 0.25em;
}
.pg-3 rt {
	padding: 0.25em 0.35em 0.1em;
	display: inline-block;
	line-height: 1;
	position: absolute;
	bottom: -1.35em;
	left: 0;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.1s ease, background-color 0.1s ease;
	transition: opacity 0.1s ease, background-color 0.1s ease;
}
.pg-3 ruby:hover rt {
	opacity: 1;
	background: #bef;
}
.pg-or {
	font-style: italic;
	font-weight: 300;
	padding: 0 1px;
}
