/* BASIC TYPOGRAPHY */

/* Standard page width */
body {
	width: 7.8in;
	margin: 1em auto;
	line-height: 1.5;
	font-size: 12pt;
}

/* Space between paragraphs */
p {
	margin: 0.25em 0;
}

strong, b {
	/*font-weight: 600;*/
}

/* Restore underlines (stored as spans in Google Docs) */
span.s1 {
	text-decoration: underline;
}
.answer strong, .answer b {
	text-decoration: underline;
}



/* BUZZ TRACKING */

/* Fixed header to display buzz location */
#head {
	position: fixed;
	left: 1em;
	top: 1em;
}
#head span {
	display: inline-block;
	width: 7em;
}

/* Word highlighting */
m {
	cursor: pointer;
}

m:hover {
	background: #cf8;
}
